---
# sample-color-app-chart/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}-rollout
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ template "fullname" . }}
spec:
  selector:
    app: {{ template "fullname" . }}
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}-preview
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ template "fullname" . }}
spec:
  selector:
    app: {{ template "fullname" . }}
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: ClusterIP